<div>
  <h1>{{title}}</h1>
  <div>
    <label>Amount : </label>
    <input type="number" [(ngModel)]="amount" (ngModelChange)="convertCurrency()">
  </div>

  <div>
    <label>From Currency : </label>
    <select [(ngModel)]="fromCurrency" (ngModelChange)="convertCurrency()">
      <option>USD</option>
      <option>EUR</option>
      <option>INR</option>
    </select>
  </div>

  <div>
    <label>To Currency : </label>
    <select [(ngModel)]="toCurrency" (ngModelChange)="convertCurrency()">
      <option>USD</option>
      <option>EUR</option>
      <option>INR</option>
    </select>
  </div>

  <div>
    <p>Converted amount : {{ convertedAmount }}</p>
  </div>
</div>